<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Work</a>
    </nav>
<p> The country's first female chancellor has taken on alpha males in world of politics. But as her nearly 16 years in power comes to an end, Merkel has not been able to enact gender parity or equity in many realms. Why not?

</p>
<h1>Angela Merkel's Achievements </h1>
<img src="/images/mrk.png" alt="Markel"/>
<nav>
<img src="/images/ang.jpg" alt="Angela Markel"/>
</nav>
</body>
</html>